<%
var separator = theme.title_join_string || theme.tab_title_separator
var title = page.title ? [page.title, config.title].join(separator) : config.title
var keywords = page.keywords || config.keywords
if (keywords instanceof Array) {
  keywords = keywords.join(',')
}
var description = page.description || page.excerpt || (is_post() && page.content) || config.description
if (description) {
  description = strip_html(description).substring(0, 200).trim().replace(/\n/g, ' ')
}
var ogImage = page.og_img || page.index_img
var ogConfig = Object.assign({ image: ogImage && url_for(ogImage) }, theme.open_graph)
%>

<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= url_for(theme.apple_touch_icon) %>">
  <link rel="icon" href="<%= url_for(theme.favicon) %>">
  <% if (theme.canonical.enable) { %>
    <link rel="canonical" href="<%= url_join(config.url, page.canonical_path.replace('index.html', '')) %>"/>
  <% } %>
  <meta name="sogou_site_verification" content="HrPSQBzZlo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <% } %>
  <meta name="theme-color" content="<%= theme.color.navbar_bg_color %>">
  <meta name="author" content="<%= page.author || config.author %>">
  <meta name="keywords" content="<%= keywords %>">
  <style>
    @font-face {
  font-family: "iconfont"; /* Project id 1736178 */
  src: url('//at.alicdn.com/t/c/font_1736178_k526ubmyhba.woff2?t=1706680923648') format('woff2'),
       url('//at.alicdn.com/t/c/font_1736178_k526ubmyhba.woff?t=1706680923648') format('woff'),
       url('//at.alicdn.com/t/c/font_1736178_k526ubmyhba.ttf?t=1706680923648') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coolapk:before {
  content: "\e600";
}

.icon-coolapk-fill:before {
  content: "\e603";
}

.icon-leetcode:before {
  content: "\e63f";
}

.icon-pencil:before {
  content: "\f06e";
}

.icon-brush:before {
  content: "\e64f";
}

.icon-pen:before {
  content: "\e639";
}

.icon-books:before {
  content: "\e7ac";
}

.icon-plan:before {
  content: "\e67d";
}

.icon-codeforces:before {
  content: "\e620";
}

.icon-v2ex:before {
  content: "\e60e";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-douban-fill:before {
  content: "\e60a";
}

.icon-zhihu-fill:before {
  content: "\e608";
}

.icon-gitee-fill:before {
  content: "\e6d0";
}

.icon-bookmark:before {
  content: "\e627";
}

.icon-book:before {
  content: "\ef46";
}

.icon-bookmark-fill:before {
  content: "\ef47";
}

.icon-briefcase:before {
  content: "\ef4f";
}

.icon-bug:before {
  content: "\ef54";
}

.icon-map:before {
  content: "\f040";
}

.icon-qrcode:before {
  content: "\f08d";
}

.icon-copyright:before {
  content: "\f28a";
}

.icon-exp-fill:before {
  content: "\e869";
}

.icon-speakernotes:before {
  content: "\e89c";
}

.icon-notebook:before {
  content: "\e709";
}

.icon-note:before {
  content: "\e883";
}

.icon-addrbook:before {
  content: "\ef12";
}

.icon-addrcard:before {
  content: "\ef13";
}

.icon-clipcheck:before {
  content: "\ef73";
}

.icon-cliplist:before {
  content: "\ef74";
}

.icon-code:before {
  content: "\ef79";
}

.icon-comment:before {
  content: "\ef7e";
}

.icon-mail:before {
  content: "\efae";
}

.icon-image:before {
  content: "\f024";
}

.icon-images:before {
  content: "\f025";
}

.icon-mobile:before {
  content: "\f052";
}

.icon-rss:before {
  content: "\f09c";
}

.icon-rss-fill:before {
  content: "\f09d";
}

.icon-th-large:before {
  content: "\f103";
}

.icon-friends:before {
  content: "\f133";
}

.icon-users:before {
  content: "\f13a";
}

.icon-docker:before {
  content: "\f18e";
}

.icon-music:before {
  content: "\f1d7";
}

.icon-kaggle:before {
  content: "\f1dd";
}

.icon-renren:before {
  content: "\f221";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-alipay-fill:before {
  content: "\e759";
}

.icon-apple-fill:before {
  content: "\e75a";
}

.icon-baidu-fill:before {
  content: "\e75c";
}

.icon-bilibili-fill:before {
  content: "\e75d";
}

.icon-dingding-fill:before {
  content: "\e75e";
}

.icon-discord-fill:before {
  content: "\e763";
}

.icon-facebook-fill:before {
  content: "\e764";
}

.icon-github-fill:before {
  content: "\e768";
}

.icon-gitlab-fill:before {
  content: "\e769";
}

.icon-instagram-fill:before {
  content: "\e76b";
}

.icon-kakao-talk-fill:before {
  content: "\e76c";
}

.icon-codepen-fill:before {
  content: "\e76d";
}

.icon-linkedin-fill:before {
  content: "\e76f";
}

.icon-line-fill:before {
  content: "\e770";
}

.icon-medium-fill:before {
  content: "\e771";
}

.icon-evernote-fill:before {
  content: "\e774";
}

.icon-mini-program-fill:before {
  content: "\e775";
}

.icon-google-fill:before {
  content: "\e778";
}

.icon-playstation-fill:before {
  content: "\e779";
}

.icon-qq-fill:before {
  content: "\e77d";
}

.icon-reddit-fill:before {
  content: "\e77e";
}

.icon-pinterest-fill:before {
  content: "\e77f";
}

.icon-skype-fill:before {
  content: "\e780";
}

.icon-slack-fill:before {
  content: "\e781";
}

.icon-stack-overflow-fill:before {
  content: "\e783";
}

.icon-telegram-fill:before {
  content: "\e785";
}

.icon-tumblr-fill:before {
  content: "\e786";
}

.icon-snapchat-fill:before {
  content: "\e787";
}

.icon-taobao-fill:before {
  content: "\e788";
}

.icon-twitter-fill:before {
  content: "\e789";
}

.icon-twitch-fill:before {
  content: "\e78a";
}

.icon-switch-fill:before {
  content: "\e78b";
}

.icon-wechat2-fill:before {
  content: "\e78d";
}

.icon-wechat-fill:before {
  content: "\e78f";
}

.icon-youtube-fill:before {
  content: "\e790";
}

.icon-weibo-fill:before {
  content: "\e791";
}

.icon-whatsapp-fill:before {
  content: "\e792";
}

.icon-xbox-fill:before {
  content: "\e795";
}


@font-face {
  font-family: "iconfont"; /* Project id 1749284 */
  src: url('//at.alicdn.com/t/c/font_1749284_5i9bdhy70f8.woff2?t=1706002255796') format('woff2'),
       url('//at.alicdn.com/t/c/font_1749284_5i9bdhy70f8.woff?t=1706002255796') format('woff'),
       url('//at.alicdn.com/t/c/font_1749284_5i9bdhy70f8.ttf?t=1706002255796') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-zero:before {
  content: "\e70f";
}

.icon-success:before {
  content: "\e619";
}

.icon-cc:before {
  content: "\e8e4";
}

.icon-cc-nd:before {
  content: "\e90e";
}

.icon-cc-sa:before {
  content: "\e604";
}

.icon-cc-nc:before {
  content: "\ed48";
}

.icon-cc-by:before {
  content: "\e741";
}

.icon-top:before {
  content: "\e605";
}

.icon-author:before {
  content: "\e7aa";
}

.icon-light:before {
  content: "\e6e6";
}

.icon-dark:before {
  content: "\e640";
}

.icon-articles:before {
  content: "\e61f";
}

.icon-category-fill:before {
  content: "\e60d";
}

.icon-category:before {
  content: "\e65e";
}

.icon-chart:before {
  content: "\e618";
}

.icon-search:before {
  content: "\e6f2";
}

.icon-love:before {
  content: "\e643";
}

.icon-eye:before {
  content: "\e722";
}

.icon-archive-fill:before {
  content: "\ef1c";
}

.icon-date-fill:before {
  content: "\ef5a";
}

.icon-home-fill:before {
  content: "\f017";
}

.icon-link-fill:before {
  content: "\f037";
}

.icon-tags-fill:before {
  content: "\f0f3";
}

.icon-user-fill:before {
  content: "\f12c";
}

.icon-date:before {
  content: "\f27d";
}

.icon-copy:before {
  content: "\f289";
}

.icon-list:before {
  content: "\f2c0";
}

.icon-tags:before {
  content: "\e798";
}

.icon-clock-fill:before {
  content: "\e67d";
}

.icon-arrowup:before {
  content: "\e799";
}

.icon-arrowleft:before {
  content: "\f2c2";
}

.icon-arrowright:before {
  content: "\f2c3";
}

.icon-arrowdown:before {
  content: "\f2c4";
}

  </style>
  <meta name="google-adsense-account" content="ca-pub-6668637539770344">
<%
  var descriptionContent = description;
  if (!descriptionContent) {
    var pathParts = page.path ? page.path.split('/') : [];
    var tagName = '';
    if (pathParts.length > 1 && pathParts[0] === 'tags') {
      tagName = decodeURIComponent(pathParts[1]);
      descriptionContent = `本站关于『${tagName}』的所有文章，聚合多个相关内容与实战教程。`;
    }
  }
%>

<meta name="description" content="<%= descriptionContent %>">
  <% if ((theme.post.meta.views.enable && theme.post.meta.views.source === 'busuanzi')
    || (theme.footer.statistics.enable && theme.footer.statistics.source === 'busuanzi')) { %>
    <meta name="referrer" content="no-referrer-when-downgrade">
  <% } %>
  <% if (theme.custom_head) { %>
    <%- theme.custom_head %>
  <% } %>
  <title><%= title %></title>

  <%- partial('_partials/css.ejs') %>
  <link rel="stylesheet" href="<%= url_for('/css/custom.css') %>">
  <%- export_config() %>
  <%- js_ex(theme.static_prefix.internal_js, 'utils.js') %>
  <%- js_ex(theme.static_prefix.internal_js, 'color-schema.js') %>
  <%- partial('_partials/plugins/analytics.ejs') %>

  <%- inject_point('head') %>
  <script src="https://image.lnova.top/candy-svg.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6668637539770344"
     crossorigin="anonymous" defer></script>
<script>
/**
 * CDN 分流与缓存核心逻辑（立即执行版本）
 *
 * 该函数在 DOM 内容加载完成后立即开始 CDN 可用性检测。
 * 成功获取活动 CDN 主机后，它会立刻更新所有指定的图片。
 */
(async function() {
    // 定义一个 CDN 优先级列表
    const hosts = [
        'https://dns.tianzhihao.dpdns.org',
        'https://backup.example.com',
        // 可以根据需要添加更多备用 URL
    ];

    const fallbackHost = 'https://backup.example.com';
    let cdnHost = fallbackHost; // 默认使用备用域名

    for (const host of hosts) {
        try {
            const response = await fetch(host, {
                method: 'HEAD',
                mode: 'cors',
            });

            if (response.ok) {
                const platformHeader = response.headers.get('platform');
                cdnHost = platformHeader ? platformHeader : host;
                console.log(`Successfully found active CDN: ${cdnHost}`);
                break; // 找到可用的 CDN 后立即停止循环
            }
        } catch (error) {
            console.error(`CDN check failed for ${host}:`, error);
        }
    }

    // 确保 CDN 主机以 '/' 结尾
    if (!cdnHost.endsWith('/')) {
        cdnHost += '/';
    }

    // 更新页面上的所有图片
    document.querySelectorAll('img.dynamic-img, img.Article-img').forEach(function(img) {
        const originalSrc = img.getAttribute('cll');
        if (originalSrc) {
            const cleanSrc = originalSrc.startsWith('/') ? originalSrc.substring(1) : originalSrc;
            img.src = cdnHost + cleanSrc;
        }
    });

})();
</script>
</div>

</head>
